/* this page contains the styling of the page after click in the author button */

.about-section{
    opacity: 1;
    font-size: 0.75em;
    border-radius: 10%;
    position: absolute;
    color: white;
    background-color: black;
    height: 75%;
    width: 50%;
    padding: 3%;
    top: -1000px;
    left: -1000px;
    text-align: center;
    z-index: 10;
    box-shadow:1px 1px 10px rgba(247, 246, 246, 0.5);
    overflow: auto;
}

.about-section::-webkit-scrollbar {
  display: none;
}

#check{
    position: fixed;
    display: none;
}

#check:checked ~ .about-section{
    top: 6%;
    left: 20%;
    transition-property: left;
    transition-duration: 1s;
    transition-timing-function: ease-out;
}

#check:checked ~ .main{
    opacity: 0.3;
}

.project-info-content{
    width: 100%;
    height: 15em;
    overflow: auto;
    box-shadow:1px 1px 1px 3px rgba(71, 70, 70, 0.5);
}

.no-dot {
  list-style-type: none;
  padding: 0;
}

.project-info-content::-webkit-scrollbar {
  width: 4px; /* width of the vertical scrollbar */
  height: 8px; /* height of horizontal scrollbar */
}

.project-info-content::-webkit-scrollbar-track {
  background: #121212; 
  border-radius: 10px;
}

.project-info-content::-webkit-scrollbar-thumb {
  background: #535353; 
  border-radius: 10px;
}

.project-info-content::-webkit-scrollbar-thumb:hover {
  background: #3e3f3e; 
}

.about-section-closebtn{
    text-align: right; 
    display: block; 
    font-size: medium;
}


